<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/layout :: head"></head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<!-- Preloader -->
<div id="preloader">
    <div id="load"></div>
</div>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" th:href="${#httpServletRequest.contextPath}  + '/test'">
                <h1>zzl family</h1>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#intro">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#contact">Contact</a></li>
                <li id="login"><a href="javascript:void(0)" onclick="showLogin()">login</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Section: intro -->
<section id="intro" class="intro">
    <div class="slogan">
        <h2>WELCOME TO <span class="text_color">zzl family</span> </h2>
        <h4>This is our family platform, here are our dribs and drabs of life</h4>
    </div>
    <div class="page-scroll">
        <a href="#service" class="btn btn-circle">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
</section>
<!-- /Section: intro -->

<!-- Section: about -->
<section id="about" class="home-section text-center">
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>About us</h2>
                            <i class="fa fa-2x fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Anna Hanaceck</h5>
                            <p class="subtitle">Pixel Crafter</p>
                            <div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive img-circle" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="0.5s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Maura Daniels</h5>
                            <p class="subtitle">Ruby on Rails</p>
                            <div class="avatar"><img src="img/team/2.jpg" alt="" class="img-responsive img-circle" /></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="0.8s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Jack Briane</h5>
                            <p class="subtitle">jQuery Ninja</p>
                            <div class="avatar"><img src="img/team/3.jpg" alt="" class="img-responsive img-circle" /></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="1s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Tom Petterson</h5>
                            <p class="subtitle">Typographer</p>
                            <div class="avatar"><img src="img/team/4.jpg" alt="" class="img-responsive img-circle" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: about -->

<!-- Section: services -->
<section id="service" class="home-section text-center bg-gray">
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Our Services</h2>
                            <i class="fa fa-2x fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <img src="img/icons/service-icon-1.png" alt="" />
                        </div>
                        <div class="service-desc">
                            <h5>Print</h5>
                            <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <img src="img/icons/service-icon-2.png" alt="" />
                        </div>
                        <div class="service-desc">
                            <h5>Web Design</h5>
                            <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <img src="img/icons/service-icon-3.png" alt="" />
                        </div>
                        <div class="service-desc">
                            <h5>Photography</h5>
                            <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInRight" data-wow-delay="0.2s">
                    <div class="service-box">
                        <div class="service-icon">
                            <img src="img/icons/service-icon-4.png" alt="" />
                        </div>
                        <div class="service-desc">
                            <h5>Cloud System</h5>
                            <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: services -->

<!-- Section: contact -->
<section id="contact" class="home-section text-center">
    <div class="heading-contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Get in touch</h2>
                            <i class="fa fa-2x fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="boxed-grey">
                    <form id="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input class="form-control" id="name" placeholder="Enter name" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                        <input type="text" class="form-control" id="email" placeholder="Enter email" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <select id="subject" name="subject" class="form-control" required="required">
                                        <option value="na" selected="">Choose One:</option>
                                        <option value="service">General Customer Service</option>
                                        <option value="suggestions">Suggestions</option>
                                        <option value="product">Product Support</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Message</label>
                                    <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget-contact">
                    <h5>Main Office</h5>
                    <address>
                        <strong>Squas Design, Inc.</strong><br>
                        Tower 795 Folsom Ave, Beautiful Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address>
                        <strong>Email</strong><br>
                        <a href="mailto:#">email.name@example.com</a>
                    </address>
                    <address>
                        <strong>We're on social networks</strong><br>
                        <ul class="company-social">
                            <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: contact -->

<!-- Section: works -->
<section id="works" class="home-section text-center bg-gray">
    <div class="heading-works marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                        <h2>Recent Works</h2>
                        <p>Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <div class="row gallery-item">
                    <div class="col-md-3">
                        <a th:href="${application.static_resource} + '/static/theme/ninestars/images/works/1.jpg'" title="This is an image title" data-lightbox-gallery="gallery1" th:data-lightbox-hidpi="${application.static_resource} + '/static/theme/ninestars/images/works/1@2x.jpg'">
                            <img th:src="${application.static_resource} + '/static/theme/ninestars/images/works/1.jpg'" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a th:href="${application.static_resource} + '/static/theme/ninestars/images/works/2.jpg'" title="This is an image title" data-lightbox-gallery="gallery1" th:data-lightbox-hidpi="${application.static_resource} + '/static/theme/ninestars/images/works/1@2x.jpg'">
                            <img th:src="${application.static_resource} + '/static/theme/ninestars/images/works/2.jpg'" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a th:href="${application.static_resource} + '/static/theme/ninestars/images/works/3.jpg'" title="This is an image title" data-lightbox-gallery="gallery1" th:data-lightbox-hidpi="${application.static_resource} + '/static/theme/ninestars/images/works/1@2x.jpg'">
                            <img th:src="${application.static_resource} + '/static/theme/ninestars/images/works/3.jpg'" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a th:href="${application.static_resource} + '/static/theme/ninestars/images/works/4.jpg'" title="This is an image title" data-lightbox-gallery="gallery1" th:data-lightbox-hidpi="${application.static_resource} + '/static/theme/ninestars/images/works/1@2x.jpg'">
                            <img th:src="${application.static_resource} + '/static/theme/ninestars/images/works/4.jpg'" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a th:href="${application.static_resource} + '/static/theme/ninestars/images/works/5.jpg'" title="This is an image title" data-lightbox-gallery="gallery1" th:data-lightbox-hidpi="${application.static_resource} + '/static/theme/ninestars/images/works/1@2x.jpg'">
                            <img th:src="${application.static_resource} + '/static/theme/ninestars/images/works/5.jpg'" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a th:href="${application.static_resource} + '/static/theme/ninestars/images/works/6.jpg'" title="This is an image title" data-lightbox-gallery="gallery1" th:data-lightbox-hidpi="${application.static_resource} + '/static/theme/ninestars/images/works/1@2x.jpg'">
                            <img th:src="${application.static_resource} + '/static/theme/ninestars/images/works/6.jpg'" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a th:href="${application.static_resource} + '/static/theme/ninestars/images/works/7.jpg'" title="This is an image title" data-lightbox-gallery="gallery1" th:data-lightbox-hidpi="${application.static_resource} + '/static/theme/ninestars/images/works/1@2x.jpg'">
                            <img th:src="${application.static_resource} + '/static/theme/ninestars/images/works/7.jpg'" class="img-responsive" alt="img">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a th:href="${application.static_resource} + '/static/theme/ninestars/images/works/8.jpg'" title="This is an image title" data-lightbox-gallery="gallery1" th:data-lightbox-hidpi="${application.static_resource} + '/static/theme/ninestars/images/works/1@2x.jpg'">
                            <img th:src="${application.static_resource} + '/static/theme/ninestars/images/works/8.jpg'" class="img-responsive" alt="img">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Section: works -->
<div class="container">
    <div class="row">
        <!-- form: -->
        <section>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="page-header">
                    <h2>Sign up</h2>
                </div>

                <form id="defaultForm" method="post" class="form-horizontal" action="target.php">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Full name</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="firstName" placeholder="First name" />
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="lastName" placeholder="Last name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Username</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="username" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email address</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Password</label>
                        <div class="col-lg-5">
                            <input type="password" class="form-control" name="password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Retype password</label>
                        <div class="col-lg-5">
                            <input type="password" class="form-control" name="confirmPassword" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Gender</label>
                        <div class="col-lg-5">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="male" /> Male
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="female" /> Female
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="other" /> Other
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Birthday</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="birthday" /> (YYYY/MM/DD)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Languages</label>
                        <div class="col-lg-5">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="languages[]" value="english" /> English
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="languages[]" value="french" /> French
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="languages[]" value="german" /> German
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="languages[]" value="russian" /> Russian
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="languages[]" value="other" /> Other
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Programming Languages</label>
                        <div class="col-lg-5">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="programs[]" value="net" /> .Net
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="programs[]" value="java" /> Java
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="programs[]" value="c" /> C/C++
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="programs[]" value="php" /> PHP
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="programs[]" value="perl" /> Perl
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="programs[]" value="ruby" /> Ruby
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="programs[]" value="python" /> Python
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="programs[]" value="javascript" /> Javascript
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label" id="captchaOperation"></label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="captcha" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <button type="submit" class="btn btn-primary" name="signup" value="Sign up">Sign up</button>
                            <button type="submit" class="btn btn-primary" name="signup2" value="Sign up 2">Sign up 2</button>
                            <button type="button" class="btn btn-info" id="validateBtn">Manual validate</button>
                            <button type="button" class="btn btn-info" id="resetBtn">Reset form</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- :form -->
    </div>
</div>
<!-- 主要内容 -->
<div id="main_panel" class="login-panel">
    <div class="form">
        <div class="title">
            <h2>Sign In</h2>
        </div>
        <form id="loginForm" method="post" class="form-horizontal" autocomplete="off">
            <!-- 帐号 -->
            <div class="form-group">
                <div class="col-lg-12">
                    <input class="form-control" id="account" name="account" placeholder="account" th:value="${account}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <input class="form-control" type="password" id="password" name="password" placeholder="password" />
                </div>
            </div>
            <div class="forget">
                <a href="#" target="_blank" class="ext">forget you password?</a>
            </div>
            <div class="options">
                <input class="ipt-c" id="rmbUser" name="remember" type="checkbox" th:checked="${remember}"/><label for="rmbUser">Remember me</label>
                <input type="button" class="login-button" value="SIGN-IN" onclick="login();"/>
            </div>
        </form>
    </div>
    <div class="widget">
        <div class="warn corner-all">
            <img th:src="${application.static_resource} + '/static/portal/images/warning.png'"/>
            <span id="warning_msg"></span>
        </div>
    </div>
    <div class="register">
        looking to <a href="#" target="_blank">create an account</a> ?
    </div>
</div>
<footer>
    <div class="container">
        版权所有张麒未经许可不得复制、转载或摘编，违者必究! &copy; Copyright 2017 TK.
    </div>
</footer>
<!--<input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<div th:include="common/layout :: script"></div>
<script th:inline="javascript">
    (function ($) {
        showLogin();
        $('#loginForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                account: {
                    validators: {
                        notEmpty: {
                            message: 'The first name is required and cannot be empty'
                        }
                    }
                },
                lastName: {
                    validators: {
                        notEmpty: {
                            message: 'The last name is required and cannot be empty'
                        }
                    }
                },
                username: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The username is required and cannot be empty'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'The username must be more than 6 and less than 30 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'The username can only consist of alphabetical, number, dot and underscore'
                        },
                        remote: {
                            url: 'remote.php',
                            message: 'The username is not available'
                        },
                        different: {
                            field: 'password',
                            message: 'The username and password cannot be the same as each other'
                        }
                    }
                },
                email: {
                    validators: {
                        emailAddress: {
                            message: 'The input is not a valid email address'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required and cannot be empty'
                        },
                        identical: {
                            field: 'confirmPassword',
                            message: 'The password and its confirm are not the same'
                        },
                        different: {
                            field: 'username',
                            message: 'The password cannot be the same as username'
                        }
                    }
                },
                confirmPassword: {
                    validators: {
                        notEmpty: {
                            message: 'The confirm password is required and cannot be empty'
                        },
                        identical: {
                            field: 'password',
                            message: 'The password and its confirm are not the same'
                        },
                        different: {
                            field: 'username',
                            message: 'The password cannot be the same as username'
                        }
                    }
                },
                birthday: {
                    validators: {
                        date: {
                            format: 'YYYY/MM/DD',
                            message: 'The birthday is not valid'
                        }
                    }
                },
                gender: {
                    validators: {
                        notEmpty: {
                            message: 'The gender is required'
                        }
                    }
                },
                'languages[]': {
                    validators: {
                        notEmpty: {
                            message: 'Please specify at least one language you can speak'
                        }
                    }
                },
                'programs[]': {
                    validators: {
                        choice: {
                            min: 2,
                            max: 4,
                            message: 'Please choose 2 - 4 programming languages you are good at'
                        }
                    }
                },
                captcha: {
                    validators: {
                        callback: {
                            message: 'Wrong answer',
                            callback: function(value, validator) {
                                var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
                                return value == sum;
                            }
                        }
                    }
                }
            }
        });

        // Validate the form manually
        $('#validateBtn').click(function() {
            $('#defaultForm').bootstrapValidator('validate')
        });

        $('#sdsd').click(function() {
            $('#defaultForm').data('bootstrapValidator').resetForm(true);
        });
    })(jQuery);

    function showLogin() {
        var opt = {
            title: false,
            closeBtn: 0,
            skin: 'login-model',
            maxWidth: 340,
            anim: -1,
            shadeClose: false,
            resize: false,
            content: $('#main_panel')
        };
        openDialog(opt);
    }

    function login() {
        var formValid = $("#loginForm").data('bootstrapValidator');
        formValid.validate();
        if (formValid.isValid()) {
            var formParams = $("#loginForm").serializeJson();
            var key = getRSAKey();
            var _csrf = $('#_csrf');
            formParams.account = encryptedString(key, formParams.account);
            formParams.password = encryptedString(key, formParams.password);
            formParams[_csrf.attr('name')] = _csrf.val();
            var opt = {
                handler: function (result) {
                    if (!result.success) {
                        $('#warning_msg').text(result.messages.join('<br/>'));
                        $('.warn').show();
                    } else {
                        layer.closeAll();
                        $('#login').remove();
                        $('.navbar-nav').append('<li class="dropdown">\n' +
                            '                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">' + result.result + '<b class="caret"></b></a>\n' +
                            '                            <ul class="dropdown-menu">\n' +
                            '                                <li><a href="#">账号设置</a></li>\n' +
                            '                                <li><a href="#">退出</a></li>\n' +
                            '                            </ul>\n' +
                            '                        </li>');


                    }
                }
            };
            ajax_action(/*[[@{/login}]]*/ '', formParams, opt);
        }
//        layer.close(layer.index);
    }

    function getRSAKey() {
        setMaxDigits([[${Digits}]]);
        return new RSAKeyPair([[${Exponent}]], "", [[${Modulus}]]);
    }
</script>
</body>
</html>