<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <conversionRule conversionWord="ip" converterClass="com.sfsctech.core.logger.logback.pattern.converter.IPConverter" />

    <springProperty name="appName" scope="context" source="spring.application.name"/>
    <springProperty name="logPath" scope="context" source="logging.path"/>

    <!--Console Log Setting begin -->
    <property name="CONSOLE_LOG_PATTERN" value="%d %clr(%-5level) %clr([${appName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]) %clr(${PID:- }){magenta} --- [%15.15t] %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- Appender to log to console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs-->
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <!--Console Log Setting end -->

    <!--File Log Setting begin -->
    <property name="FILE_LOG_PATTERN" value="%d %-5level [${appName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- Appender to log to file -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="com.sfsctech.core.logger.logback.rolling.PatchedSizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/${appName}/log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxFileSize>10MB</MaxFileSize>
            <MaxHistory>365</MaxHistory>
            <TotalSizeCap>3GB</TotalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 小于level级别的日志会被过滤掉 -->
            <level>DEBUG</level>
        </filter>
        <encoder class="com.sfsctech.core.logger.logback.pattern.encoder.TraceNoPatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--File Log Setting end -->

    <!--RMT Log Setting begin -->
    <!--远程同步参数：kafka zookeeper地址列表，IP:host,IP:host-->
    <property name="brokerList" value="172.16.225.98:9092"/>
    <!--系统模块（SOA或微服务业务系统标记）-->
    <property name="point" value="demo"/>
    <!--系统类型（前端Controller、后端service、微信service、前端html）-->
    <property name="aspect" value="后端service"/>
    <!-- Appender to log to Kafka -->
    <appender name="RMT" class="com.sfsctech.core.logger.rmt.kafka.appender.KafkaAppender">
        <topic>${appName}</topic>
        <brokerList>${brokerList}</brokerList>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 小于level级别的日志会被过滤掉 -->
            <level>DEBUG</level>
        </filter>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "%d",
                        <!-- log level -->
                        "severity": "%level",
                        <!-- the name of the application that logged the span -->
                        "ip": "%ip",
                        "service": "${appName:-}",
                        "point": "${point:-}",
                        "aspect": "${aspect:-}",
                        <!-- the id of the latency graph that contains the span -->
                        "trace": "%X{X-B3-TraceId:-}",
                        <!-- the id of a specific operation that took place -->
                        "span": "%X{X-B3-SpanId:-}",
                        <!-- whether the log should be exported to Zipkin or not. Whenwould you like the span not to be exportable? In the case in which you want towrap some operation in a Span and have it written to the logs only. -->
                        "exportable": "%X{X-Span-Export:-}",
                        <!-- The current process ID -->
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "message": "%message",
                        <!-- 异常堆栈信息，输出5行 -->
                        "stack_trace": "%exception{5}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <!--RMT Log Setting end -->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="RMT"/>
    </root>

</configuration>