<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty name="appName" scope="context" source="spring.application.name"/>
    <springProperty name="logPath" scope="context" source="logging.path"/>

    <!--Console Log Setting begin -->
    <property name="CONSOLE_LOG_PATTERN" value="%d %clr(%-5level) %clr([${appName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]) %clr(${PID:- }){magenta} --- [%15.15t] %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- Appender to log to console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs-->
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <!--Console Log Setting end -->

    <!--File Log Setting begin -->
    <property name="FILE_LOG_PATTERN" value="%d %-5level [${appName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- Appender to log to file -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="com.sfsctech.common.core.logger.logback.rolling.PatchedSizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/${appName}/log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxFileSize>10MB</MaxFileSize>
            <MaxHistory>365</MaxHistory>
            <TotalSizeCap>3GB</TotalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 小于level级别的日志会被过滤掉 -->
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!--File Log Setting end -->

    <!--RMT Log Setting begin -->
    <property name="brokerList" value="172.16.225.98:9092"/>
    <property name="zfcode" value="framework-website"/>
    <property name="fileName" value="framework-website.log"/><!--远程文件 -->
    <property name="topic" value="website"/><!--topic -->

    <!-- Appender to log to Kafka -->
    <appender name="RMT" class="com.sfsctech.common.core.logger.rmt.kafka.appender.KafkaAppender">
        <topic>${topic}</topic><!--topic//-->
        <zfcode>${zfcode}</zfcode><!--远程同步参数：项目编号-->
        <fileName>${fileName}</fileName><!--远程同步参数：同步过去的文件名称-->
        <brokerList>${brokerList}</brokerList><!--远程同步参数：zookeeper地址列表，可配置N个-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 小于level级别的日志会被过滤掉 -->
            <level>DEBUG</level>
        </filter>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "severity": "%level",
                        "service": "${appName:-}",
                        "trace": "%X{X-B3-TraceId:-}",
                        "span": "%X{X-B3-SpanId:-}",
                        "exportable": "%X{X-Span-Export:-}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "rest": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <!--RMT Log Setting end -->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <!--<appender-ref ref="RMT"/>-->
    </root>

</configuration>