<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty name="appName" scope="context" source="spring.application.name"/>
    <springProperty name="logPath" scope="context" source="logging.path"/>

    <!--Console Log Setting begin -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d %clr(%-5level) %clr([${appName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]) %clr(${PID:- }){magenta} --- [%15.15t] %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- Appender to log to console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs-->
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <!--Console Log Setting end -->

    <!--File Log Setting begin -->
    <property name="FILE_LOG_PATTERN"
              value="%d %-5level [${appName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- 只写本地文件，level>=INFO -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy
                class="com.sfsctech.common.core.logger.logback.rolling.PatchedSizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/${appName}/log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxFileSize>10MB</MaxFileSize>
            <MaxHistory>365</MaxHistory>
            <TotalSizeCap>3GB</TotalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 小于level级别的日志会被过滤掉 -->
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!--File Log Setting end -->

    <!-- Appender to log to file in a JSON format -->
    <!--<appender name="logstash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.json.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>{ "severity": "%level", "service": "${springAppName:-}", "trace": "%X{X-B3-TraceId:-}",
                        "span": "%X{X-B3-SpanId:-}", "exportable": "%X{X-Span-Export:-}", "pid": "${PID:-}", "thread":
                        "%thread", "class": "%logger{40}", "rest": "%message" }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="logstash"/>-->
        <appender-ref ref="FILE"/>
    </root>


    <!--&lt;!&ndash;格式化输出：%d：日期，%-5level：日志级别、从左显示5个字符宽度，%thread：线程名，%m：日志消息，%n：换行符&ndash;&gt;
    <property name="default_pattern" value="%d %-5level %trace -&#45;&#45; [%thread] %logger      : %m%n"/>
    &lt;!&ndash; 日志文件本地存储路径 &ndash;&gt;
    <property name="filepath" value="/opt/logs/"/>
    &lt;!&ndash; kafka路径&ndash;&gt;
    <property name="brokerList" value="172.16.225.98:9092"/>
    <property name="appName" value="cloud-client"/>
    <property name="topic" value="website"/>

    &lt;!&ndash; 控制台输出 &ndash;&gt;
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %clr(%-5level) %clr(%trace) -&#45;&#45; [%20thread] %cyan(%-50logger{50}) : %m%n</pattern>
        </encoder>
    </appender>

    &lt;!&ndash; 只写本地文件，level>=INFO &ndash;&gt;
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy
                class="com.sfsctech.common.core.logger.logback.rolling.PatchedSizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${filepath}${appName}/log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxFileSize>10MB</MaxFileSize>
            <MaxHistory>365</MaxHistory>
            <TotalSizeCap>3GB</TotalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            &lt;!&ndash; 小于level级别的日志会被过滤掉 &ndash;&gt;
            <level>DEBUG</level>
        </filter>
        <encoder class="com.sfsctech.common.core.logger.logback.pattern.trace.encoder.TraceNoPatternLayoutEncoder">
            <pattern>${default_pattern}</pattern>
            <zfcode>${appName}</zfcode>
        </encoder>
    </appender>

    <logger name="com.sfsctech" level="INFO"/>
    <logger name="com.apache.ibatis" level="TRACE"/>
    <logger name="java.sql.Connection" level="DEBUG"/>
    <logger name="java.sql.Statement" level="DEBUG"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>-->

</configuration>